

body{
    background-color:#859D8F;
    font-family: "Roboto", "Arial", sans-serif;
    
}  


.site-navigation{
    color: white;
    list-style-type: none; 
}

.site-navigation-1{
    color: white; 
    font-weight: 700;

}

.site-navigation-2{
    color: white; 
    font-weight: 700;
}

.site-navigation-3{
    color: white; 
    font-weight: 700;
}

.user-navigation{
    list-style-type: none; 
}

.search-1{
    color: white; 
    font-size: 20px;
    text-decoration: none;
}

.enter-1{
    color: white; 
    font-size: 20px; 
    text-decoration: none;
}


.shop-1{
    color: white; 
    font-size: 20px;
    text-decoration: none; 
}

.main-info-text{
    color: white; 
    font-size: 15px; 
    font-weight: 700;
}

.main-info-phone{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.main-name{
    color: white; 
    font-size: 35px; 
    font-weight: 700;
}

.sorting-name{
    color: white; 
    font-size: 15px; 
    font-weight: 500;
}

.slider-name{
    color: white; 
    font-size: 15px; 
    font-weight: 500;
}

.choose-name{
    color: white; 
    font-size: 15px; 
    font-weight: 500;
}

.type-name{
    color: white; 
    font-size: 15px; 
    font-weight: 500;  
}

.button-name{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}

.item-1-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-1-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-1-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}

.item-2-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-2-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-2-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-3-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-3-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-3-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}

.item-4-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-4-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-4-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-5-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-5-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-5-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-6-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-6-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-6-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-7-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-7-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-7-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-8-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-8-kg{
     color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-8-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-9-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-9-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-9-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-10-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-10-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-10-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-11-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-11-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-11-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}
.item-12-price{
    color: white; 
    font-size: 40px; 
    font-weight: 700;
}
.item-12-kg{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.item-12-text{
    color: white; 
    font-size: 20px; 
    font-weight: 500;
}

.pick-str-1{
    color: white;
    text-decoration: none;
}

.pick-str-2{
    color: white;
    text-decoration: none;
}

.pick-str-3{
    color: white;
    text-decoration: none;
}

.pick-str-4{
    color: white;
    text-decoration: none;
}

.pick-str-5{
    color: white;
    text-decoration: none;
}

.pick-str-6{
    color: white;
    text-decoration: none;
}

.pick-str-7{
    color: white;
    text-decoration: none;
}

.social-class{
    list-style-type: none;
}

.social-1{
    color: white;

}

.social-2{
    color: white;
}

.social-3{
    color: white;
}

.social-4{
    color: white;

}

.made-in-html-text{
    color: white;
font-size: 10px; 
}

.made-in-html-link{
    color: white;
font-size: 10px;
}




