

body{
    background-color:#859D8F;
    font-family: "Roboto", "Arial", sans-serif;
    
}   
.site-navigation{
    color: white;
    list-style-type: none; 
}

.site-navigation-1{
    color: white; 
    font-weight: 700;

}

.site-navigation-2{
    color: white; 
    font-weight: 700;
}

.site-navigation-3{
    color: white; 
    font-weight: 700;
}

.user-navigation{
    list-style-type: none; 
}

.search-1{
    color: white; 
    font-size: 20px;
    text-decoration: none;
}

.enter-1{
    color: white; 
    font-size: 20px; 
    text-decoration: none;
}


.shop-1{
    color: white; 
    font-size: 20px;
    text-decoration: none; 
}

.main-info-text{
    color: white; 
    font-size: 15px; 
    font-weight: 700;
}

.main-info-phone{
    color: white; 
    font-size: 25px; 
    font-weight: 700;
}

.header-text{
	color: white; 
	font-size: 70px; 
	font-weight: 700;
}

.header-button{
	color: white; 
	font-size: 40px; 
	text-decoration: none;
}

.stock-one-text{
	color: white; 
	font-size: 35px; 
	text-decoration: none;
	font-weight: 700;
}

.stock-one-infotext{
	color: white; 
	font-size: 20px; 
	font-weight: 500;
	font-weight: 700;
}

.stock-one-button{
	color: white; 
	font-size: 30px; 
	text-decoration: none;
	font-weight: 300;
	font-weight: 700;
}

.stock-two-text{
	color: white; 
	font-size: 35px; 
	text-decoration: none;
	font-weight: 700;
}

.stock-two-infotext{
	color: white; 
	font-size: 20px; 
	font-weight: 500;
	font-weight: 700;
}

.stock-two-button{
	color: white; 
	font-size: 30px; 
	text-decoration: none;
	font-weight: 300;
	font-weight: 700;	
}

.item-one-price{
	color: white; 
	font-size: 40px; 
	font-weight: 700;
}

.item-one-kg{
	color: white; 
	font-size: 25px; 
	font-weight: 700;
}

.item-two-price{
	color: white; 
	font-size: 40px; 
	font-weight: 700;
}

.item-two-kg{
	color: white; 
	font-size: 25px; 
	font-weight: 700;
}

.item-three-price{
	color: white; 
	font-size: 40px; 
	font-weight: 700;
}

.item-three-kg{
	color: white; 
	font-size: 25px; 
	font-weight: 700;
}

.item-four-price{
	color: white; 
	font-size: 40px; 
	font-weight: 700;
}

.item-four-kg{
	color: white; 
	font-size: 25px; 
	font-weight: 700;
}

.item-one-text{
	color: white; 
	font-weight: 500;
}

.item-two-text{
	color: white; 	
	font-weight: 500;
}

.item-three-text{
	color: white; 
	font-weight: 500;
}

.item-four-text{
	color: white;  
	font-weight: 500;
}

.info-block-name{
	color: black;
	font-size: 35px; 
	font-weight: 500;
}

.info-list{
	list-style-type: none;
}

.info-block-text-1{
	color: black;
	text-decoration: none;
}
.info-block-text-2{
	color: black;
	text-decoration: none;
}
.info-block-text-3{
	color: black;
	text-decoration: none;
}
.info-block-text-4{
	color: black;	 
	text-decoration: none;
}

.ad-one-name{
	color: black;
	font-size: 20px; 
	font-weight: 500;
	text-decoration: none;
}
.ad-one-text{
	color: black;
	font-size: 30px; 
	font-weight: 700;
}

.ad-two-name{
	color: black;
}

.map-info-adress-one{
	color: black;
}

.map-info-adress-two{
	color: black;
	font-size: 20px; 
	font-weight: 700;
}

.map-info-phone-one{
	color: black;
}

.map-info-phone-two{
	color: black;
	font-weight: 700;
}

.map-info-button{
	color: white;
	font-weight: 700;
	text-decoration: none;
}

.social-class{
	list-style-type: none;
}

.social-1{
	color: white;

}

.social-2{
	color: white;
}

.social-3{
	color: white;
}

.social-4{
	color: white; 
}

.made-in-html-text{
	color: white;
font-size: 10px; 
}

.made-in-html-link{
	color: white;
font-size: 10px;
}